name: Deploy Biryerden Belediye

on:
  push:
    branches: 
     - main 

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.8.0
        with:
          ssh-private-key: ${{ secrets.SSH_KEY }}

      - name: Create .env file
        run: | 
          echo "PORT='${{ secrets.PORT }}'" > .env
          echo "POSTGRES_HOST='${{ secrets.POSTGRES_HOST }}'" >> .env
          echo "POSTGRES_DB='${{ secrets.POSTGRES_DB }}'" >> .env
          echo "POSTGRES_USER='${{ secrets.POSTGRES_USER }}'" >> .env
          echo "POSTGRES_PASS='${{ secrets.POSTGRES_PASS }}'" >> .env
          echo "POSTGRES_PORT='${{ secrets.POSTGRES_PORT }}'" >> .env
          echo "JWT_SECRET='${{ secrets.JWT_SECRET }}'" >> .env
          echo "BASE_URL='${{ secrets.BASE_URL }}'" >> .env

      - name: Copy .env to server
        run: |
         scp -o StrictHostKeyChecking=no .env ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:/root/biryerden-belediye/.env        

      - name: Deploy to Server via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd ~/biryerden-belediye
            git fetch origin
            git pull --rebase origin main
            docker compose down
            docker compose up -d --build